.content {
  background-color: var(--modal-background);
  border: 1px solid var(--modal-border);
  border-radius: 16px;
  color: var(--modal-text);
  height: 220px;
  left: calc(50% - 200px);
  margin: auto auto;
  padding: 16px 0;
  position: fixed;
  top: calc(50% - 130px);
  width: 400px;
  z-index: 15;
}
.title {
  color: var(--error-title);
}
.message {
  color: var(--error-text);
  margin: 0 16px;
}
.menu-button {
  margin: 0 auto;
  width: 160px;
}
