.bar {
  width: 240px;
}
.status {
  background-color: transparent;
  border-radius: 50%;
  height: 28px;
  margin-left: 8px;
  transition: background-color 200ms ease-in-out;
  width: 28px;
}
.status-icon {
  height: 24px;
  width: 24px;
}
.client-icon {
  height: 16px;
  width: 16px;
}
.enabled {
  background-color: var(--accent);
  transition: background-color 200ms ease-in-out;
}
