.controls {
  background-color: black;
  padding: 16px;
}
.buttons-block {
  height: 60px;
  padding: 0 8px 0 4px;
}
.button, .button:disabled, .button:hover {
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.button, .icon {
  height: 40px;
  width: 40px;
}
.button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  margin: 0 4px;
  outline: none;
  padding: 0;
}
.icon {
  color: white;
}
.button:hover {
  background-color: turquoise;
}
.button:disabled {
  background-color: teal;
  cursor: default;
}
.big-icon {
  height: 24px;
  width: 24px;
}
input[type='range'] {
  -webkit-appearance: none;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  height: 10px;
  margin: 0 8px;
  outline: none;
  overflow: hidden;
}
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 10px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: turquoise;
  border: 0;
  box-shadow: -1000px 0 0 1000px turquoise;
  height: 20px;
  width: 1px;
}
.progress {
  width: 600px;
}
.volume {
  width: 300px;
}
