.playlist {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  height: 380px;
  overflow-y: scroll;
}
.track, .track:hover,
.active, .active:hover,
.queued, .queued:hover,
.unavailable, .unavailable:hover {
  transition: background-color 125ms ease-in-out;
}
.track {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
  outline: none;
  padding: 8px 16px;
  width: 100%;
}
.track:hover {
  background-color: #555555;
}
.track-number {
  margin-right: 8px;
  max-width: 64px;
  min-width: 32px;
  width: 32px;
}
.active {
  background-color: turquoise;
  color: black;
}
.active:hover {
  background-color: rgb(173, 255, 247);
}
.queued {
  background-color: rgb(36, 54, 0);
  color: white;
}
.queued:hover {
  background-color: yellowgreen;
}
.unavailable {
  background-color: rgb(56, 34, 0);
  color: white;
}
.unavailable:hover {
  background-color: rgb(206, 74, 38);
}
