.playlist {
  background-color: var(--player-background);
  border: 1px solid var(--player-text);
  border-radius: 5px;
  height: 380px;
  overflow-y: scroll;
}
.track, .track:hover,
.active, .active:hover,
.queued, .queued:hover,
.unavailable, .unavailable:hover {
  transition: background-color 125ms ease-in-out;
}
.track {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: var(--player-text);
  outline: none;
  padding: 8px 16px;
  width: 100%;
}
.track:hover {
  background-color: var(--playlist-item-hover-background);
}
.track-number {
  margin-right: 8px;
  max-width: 64px;
  min-width: 32px;
  width: 32px;
}
.active {
  background-color: var(--accent);
  color: var(--accent-text-dark);
}
.active:hover {
  background-color: var(--accent-highlighted);
}
.queued {
  background-color: var(--queued);
  color: var(--queued-text);
}
.queued:hover {
  background-color: var(--queued-hover);
}
.unavailable {
  background-color: var(--unavailable);
  color: var(--unavailable-text);
}
.unavailable:hover {
  background-color: var(--unavailable-hover);
}
