.background {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.content {
  background-color: black;
  border: 1px solid white;
  border-radius: 16px;
  color: white;
  height: 420px;
  left: calc(50% - 250px);
  margin: auto auto;
  padding: 16px 0;
  position: fixed;
  top: calc(50% - 230px);
  width: 500px;
  z-index: 15;
}
.menu-button {
  margin: 0 auto;
  width: 170px;
}
