body, html {
  background-color: black;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.player {
  background-color: black;
  color: white;
  font-size: 24px;
  padding: 32px;
}
.title {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  margin: 0;
  outline: none;
  padding: 0;
}
.status-bar {
  margin-top: 8px;
}
.action-button {
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  margin: 0 4px;
  outline: none;
  padding: 8px 16px;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.action-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.action-button:disabled {
  background-color: #696969;
  color: #d0d0d0;
  cursor: default;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  cursor: pointer;
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #3f3f3f;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
  transition: background-color 200ms ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: turquoise;
  transition: background-color 200ms ease-in-out;
}

/* Commonly used classes */
.flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-start {
  justify-content: flex-start;
}
.align-items-center {
  align-items: center;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.m-r {
  margin-right: 8px;
}
.pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
